td {
    padding: 20px;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
    font-family: "Arial";
    color: #000;
    cursor: pointer;
  }
  table {
    border-collapse: collapse;
    position: relative;
    left: 46%;
    margin-left: -155px;
    top: 50px;
    background-color: paleturquoise;
  }
  
  table td:hover {
    background-color: cadetblue;
  }
  
  .header {
    position: relative;
    background-color: black;
    color: aquamarine;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  button {
    position: relative;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15;
    margin: auto;
    font-size: 30px;
    padding: 10px;
    background-color: black;
    color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(34, 34, 34);
    color: aquamarine;
  }
  .endGame {
    display: none;
    width: 500px;
    height: 150px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    top: 200px;
    left: 33%;
  }
  .text {
    color: aquamarine;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
  }