table td:hover {
    background-color: cadetblue;
  }
  
.header{
    text-align: center;
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 46px;
    background-color: black;
    color: aquamarine;
    line-height: 100px;
    margin-top: 0;
  }
  td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 70px;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    position: relative;
    left: 50%;
    margin-left: -155px;
    top: 50px;
    background-color: paleturquoise;
  }
  
  button {
    position: relative;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding: 10px;
    margin: auto;
    background-color: black;
    color: aquamarine;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  button:hover {
    color: black;
    background-color: white;
  }
  
  
  .endGame {
    display: none;
    width: 500px;
    height: 150px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    top: 250px;
    left: 34%;
  }
  .text {
    color: aquamarine;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
  }